@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.grid-wide:after {
  content: "";
  display: table;
  clear: both; }

.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.centered-inline, .panel--centered, .panel--padded--centered, [class^="btn--"] {
  text-align: center; }

.icn--nav-toggle:before {
  display: block;
  content: '';
  position: absolute; }

.centered, .grid-wide {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.centered-inline {
  margin: 10px 0; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; }

header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.94);
  z-index: 0;
  width: 100%;
  box-shadow: 0px 2px 3px rgba(11, 11, 11, 0.2); }
  @media (min-width: 769px) {
    header {
      position: fixed;
      z-index: 1;
      background: whitesmoke;
      /* Fallback */
      background-color: rgba(255, 255, 255, 0.9); } }

.full {
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.h2-landing {
  margin-top: 1.25em;
  margin-bottom: 1.25em; }

.h2-landing-02 {
  margin-top: 0.625em;
  margin-bottom: 0.625em; }

.h1-landing-02 {
  margin-top: 0.625em;
  margin-bottom: 0.625em; }

h4 {
  margin: 0.625em 0;
  font-weight: 700;
  font-size: 1.125em;
  color: #0b0b0b; }
  @media (min-width: 769px) {
    h4 {
      margin-top: 0em;
      font-size: 1.5em; } }

h5 {
  margin-top: 0.75em;
  margin-bottom: 0.3125em;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.125em; }
  @media (min-width: 769px) {
    h5 {
      margin-top: 0.25em; } }

h6 {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.125em; }
  @media (min-width: 769px) {
    h6 {
      margin-top: 0.25em; } }

a {
  color: #656a6e;
  text-decoration: none;
  border-bottom: 1px #0b0b0b dotted;
  font-weight: 700; }
  a:hover {
    color: #0b0b0b;
    border-bottom: none; }

a.img-mouseover {
  border-bottom: none; }

p {
  margin: 0.625em 0 1.25em 0;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.75; }
  @media (min-width: 769px) {
    p {
      font-weight: 300;
      font-size: 1.375em;
      line-height: 1.5; } }

blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 1.25em; }
  @media (min-width: 769px) {
    blockquote {
      margin: 1.3333333333em 0;
      padding: 0 0 0 5%;
      border-left: 0.3333333333em solid #ebecec;
      font-size: 1.5em; } }

.byline {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
  color: #797e83;
  font-weight: 400;
  font-size: 0.875em; }

.byline-02 {
  margin-top: 0.625em;
  margin-bottom: 0.9375em;
  color: #797e83;
  font-weight: 400;
  font-size: 0.875em; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.list-divider {
  padding: 1px 0 0 0;
  background: #d6d7d9;
  border: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

.img-mouseover:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */ }

.search-button {
  float: left; }

.search-bar {
  float: right; }

.descretionary-margin {
  margin-bottom: 0.9375em; }

input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0; }

input:focus,
textarea:focus {
  transition: 0.3s; }

button {
  outline: 0; }

footer {
  background: #ebecec;
  padding-top: 20px;
  height: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  font-size: 13px; }

footer.div {
  margin: 20px 0; }

.panel, .panel-blue, .panel--centered {
  padding-top: 1.875em; }
  @media (min-width: 769px) {
    .panel, .panel-blue, .panel--centered {
      padding-bottom: 1.25em; } }

.panel--padded, .panel--padded--centered, .panel-secondary, .sharing-header, .panel-blue {
  padding-top: 2.125em; }
  @media (min-width: 769px) {
    .panel--padded, .panel--padded--centered, .panel-secondary, .sharing-header, .panel-blue {
      padding-top: 5em;
      padding-bottom: 2.125em; } }

.slider {
  position: relative;
  overflow: auto; }

.slider li {
  list-style: none; }

.slider ul li {
  float: left; }

.panel--padded--centered {
  border: 1px solid #f00; }

.panel-primary, .footer-primary {
  background: #797e83;
  padding: 0.1875em 0.625em;
  margin: 0.1875em 0; }
  .panel-primary a, .footer-primary a {
    color: #fff; }
  .panel-primary:hover, .footer-primary:hover {
    color: #fff; }

.footer-primary {
  display: inline-block;
  margin-right: 0.3125em;
  font-size: 1.125em; }

.valign-mid {
  text-align: center;
  margin-top: 3%; }

.panel-secondary, .sharing-header {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  margin: 0px 0 0px 0;
  color: #fff;
  max-width: 100%; }

.sharing-header {
  color: #656a6e;
  background: none;
  max-width: none;
  margin-bottom: 50px; }

.sharing {
  margin: 0px 0 40px 0;
  float: right; }

.sharing-item {
  display: inline;
  vertical-align: middle; }

.panel-blue {
  background: #016dfd;
  padding: 15px;
  margin: 5px 0 10px 0;
  color: #fff; }

.splash {
  text-align: left;
  background: url(../img/bk02.jpg) #fff;
  padding-top: 10px;
  height: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover; }
  @media (min-width: 769px) {
    .splash {
      padding-top: 100px; } }

.splash-a {
  text-align: left;
  background: url(../img/bk02-a.jpg) #fff;
  padding-top: 100px;
  height: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover; }

.splash-b {
  text-align: left;
  background: url(../img/bk02-b.jpg) #fff;
  padding-top: 100px;
  height: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover; }

.splash-c {
  text-align: left;
  background: url(../img/bk02-c.jpg) #fff;
  padding-top: 100px;
  height: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35); }

.splash-d {
  text-align: left;
  background: url(../img/bk02-d.jpg) #fff;
  padding-top: 100px;
  height: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35); }

.splash-e {
  text-align: left;
  background: url(../img/bk02-e.jpg) #fff;
  padding-top: 100px;
  height: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35); }

.splash-home {
  text-align: center;
  background: url(../img/header-01a.jpg) #fff;
  padding: 30px 0;
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover; }
  .splash-home h1, .splash-home h2 {
    color: #fff; }
  @media (min-width: 769px) {
    .splash-home {
      padding: 90px 0; } }
  @media (min-width: 1100px) {
    .splash-home {
      padding: 170px 0; } }

.splash-home {
  text-align: left;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  padding-top: 0px;
  height: auto; }
  @media (min-width: 769px) {
    .splash-home {
      padding-top: 0px; } }

@media (min-width: 769px) {
  height: auto; }
.hashtag {
  margin: 20px 0 0px 0; }
  @media (min-width: 769px) {
    .hashtag {
      margin: 120px 0 0px 0; } }

.list-panel {
  font-size: 14px;
  padding: 0 7px; }

p.list-panel:last-child {
  margin-bottom: 5px; }

.panel-pic {
  text-align: center;
  color: #fff;
  background: url(../img/bk08.jpg) #fff;
  padding: 00px;
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover; }
  @media (min-width: 769px) {
    .panel-pic {
      height: 100%;
      position: relative; } }

section#bk01 {
  background-image: url(../img/bk01.png); }

section#bk02 {
  background-image: url(../img/bk02.png); }

.home-panel {
  padding: 0px 0; }

.home-panel-02 {
  width: 100%;
  background-color: #ebecec; }

.footer-links, .link-icons {
  float: none;
  padding-top: 1.875em;
  display: inline-block;
  text-align: left;
  padding-right: 1.875em; }
  @media (min-width: 769px) {
    .footer-links, .link-icons {
      padding-top: 1.875em;
      float: right; } }

.link-icons {
  text-align: center; }

.imagelist li {
  padding: 0;
  margin: 0; }

.panel-spacing {
  margin: 1.25em 0; }
  @media (min-width: 769px) {
    .panel-spacing {
      margin: 0.625em 0; } }

centered-spacing {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.full {
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

#pane01 {
  background-color: #016dfd;
  background: url(../img/bk-01.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  padding-top: 80px;
  height: auto;
  height: auto; }
  @media (min-width: 769px) {
    #pane01 {
      padding-top: 120px; } }

#pane02 {
  background-color: #00aca7;
  padding-top: 80px;
  height: auto; }
  @media (min-width: 769px) {
    #pane02 {
      padding-top: 120px; } }

#pane03 {
  background-color: #ffca00;
  padding-top: 80px;
  height: auto; }
  @media (min-width: 769px) {
    #pane03 {
      padding-top: 120px; } }

#pane04 {
  background-color: #e67900;
  padding-top: 80px;
  height: auto; }
  @media (min-width: 769px) {
    #pane04 {
      padding-top: 120px; } }

#pane05 {
  background-color: #009182;
  padding-top: 80px;
  height: auto; }
  @media (min-width: 769px) {
    #pane05 {
      padding-top: 120px; } }

#pane06 {
  background-color: #9d3585;
  padding-top: 80px;
  height: auto; }
  @media (min-width: 769px) {
    #pane06 {
      padding-top: 120px; } }

.adspace {
  text-align: center;
  padding: 10px 0;
  background-color: #ebecec;
  margin: 0em;
  max-width: 100%; }

.adspace-02 {
  text-align: center;
  padding: 10px 0;
  background-color: #ebecec;
  margin: 20px 0 0 0;
  max-width: 100%; }

.adspace-03 {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 10px 0;
  max-width: 100%; }

.boxout {
  background-color: #f0f0f0;
  padding: 1.5625em;
  margin: 0.1875em;
  margin-bottom: 1.25em;
  font-weight: 400;
  font-size: 0.875em; }
  @media (min-width: 769px) {
    .boxout {
      font-size: 1.125em; } }

.grid-wide {
  width: 100%; }
  [class*="grid__col--"] > .grid-wide {
    width: 100%; }
  @media (min-width: 1100px) {
    .grid-wide {
      max-width: 1050px; } }

#topbox {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #topbox::after {
    clear: both;
    content: "";
    display: table; }

#top-row {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  #top-row:last-child {
    margin-right: 0; }

#column-red {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%; }
  #column-red:last-child {
    margin-right: 0; }

@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

@media (min-width: 1px) and (max-width: 768px) {
  [class^="grid__col--"] {
    margin-top: 0.75em;
    margin-bottom: 0.75em; } }
@media (min-width: 769px) {
  [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
    [class^="grid__col--"] + [class^="grid__col--"] {
      margin-left: 2%; }
    [class^="grid__col--"]:last-of-type {
      float: right; } }

.theme__poly .grid [class*="grid__col"] {
  font-weight: 200;
  margin-bottom: 1em;
  padding: 1.75%; }

@media (min-width: 769px) {
  .nav__item, .nav__item--current {
    display: inline-block; } }

.nav__item--current a, .nav__item a {
  font-weight: 700;
  text-align: center;
  font-size: 0.875em;
  display: block;
  padding: 5px 0 0 0;
  line-height: 80px;
  padding: 0px 10px 0px 10px;
  border-bottom: 4px solid transparent; }
  @media (min-width: 1px) and (max-width: 768px) {
    .nav__item--current a, .nav__item a {
      line-height: 20px;
      border-bottom-color: #ebecec;
      font-weight: 700;
      padding-top: 0.7777777778em;
      padding-bottom: 0.7777777778em;
      font-size: 1.0625em; } }
  @media (min-width: 1100px) {
    .nav__item--current a, .nav__item a {
      font-size: 1.125em;
      padding: 0px 15px 0px 15px; } }

.nav__item--current a, .nav__item a:hover {
  color: #0b0b0b;
  border-color: #016dfd;
  text-decoration: none;
  background-color: rgba(230, 230, 230, 0.5); }

.nav__item--current a {
  background-color: transparent;
  border-bottom-color: #016dfd; }

h1, .h2-landing, .h2-landing-02, .headline-primary, .headline-primary--grouped {
  letter-spacing: normal;
  font-weight: 900;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
  margin-top: 0.25em;
  margin-bottom: 0.25em; }
  @media (min-width: 769px) {
    h1, .h2-landing, .h2-landing-02, .headline-primary, .headline-primary--grouped {
      font-size: 1.5em;
      line-height: 1.5; } }

h2, .h1-landing-02, .headline-secondary, .headline-secondary--grouped {
  font-size: 2.625em;
  font-weight: 300;
  margin: 0;
  line-height: 1.0952380952; }
  @media (min-width: 769px) {
    h2, .h1-landing-02, .headline-secondary, .headline-secondary--grouped {
      font-size: 4.5em;
      font-weight: 200; } }

h3 {
  font-size: 1.125em;
  font-weight: 400;
  margin-top: 0.25em;
  margin-bottom: 0.0625em;
  line-height: 1.1em; }

.form__btn, [class^="btn--"] {
  padding: 15px 30px;
  border: 0;
  border-radius: 0.4em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 400;
  transition: opacity 0.3s;
  display: block; }
  .form__btn:hover, [class^="btn--"]:hover {
    opacity: .75; }
  .form__btn:active, [class^="btn--"]:active {
    opacity: initial; }

.menu__link, .menu__link--end {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px rgba(11, 11, 11, 0.2);
  font-size: 1.125em; }

.icn--nav-toggle, .icn--close {
  line-height: 0;
  cursor: pointer; }

.img--wrap {
  border: 1px solid #d6d7d9;
  padding: 0.75em; }
.img--article {
  margin-top: 0.3125em;
  margin-bottom: 0.3125em; }
  @media (min-width: 769px) {
    .img--article {
      margin-top: 1.25em;
      margin-bottom: 1.875em; } }
.img--summary {
  margin-top: 0.625em;
  margin-bottom: 0em; }
  @media (min-width: 769px) {
    .img--summary {
      margin-top: 2.5em;
      margin-bottom: 0em; } }
.img--header {
  margin-top: 0.3125em;
  margin-bottom: 0.3125em; }
  @media (min-width: 769px) {
    .img--header {
      margin-top: 2.5em;
      margin-bottom: 1.25em; } }
.img--profilepic {
  margin-top: 0.9375em;
  margin-bottom: 1.25em;
  text-align: center; }
  @media (min-width: 769px) {
    .img--profilepic {
      margin-top: 1.25em;
      margin-bottom: 2.5em; } }

.headline-primary {
  margin-bottom: 1.6666666667em; }
  .headline-primary--grouped {
    margin-bottom: 0; }
.headline-secondary {
  margin-bottom: 0.9166666667em; }

.form__label {
  display: block;
  margin-bottom: 0.625em; }
.form__input {
  font-size: 1.125em;
  margin-bottom: 1.1111111111em;
  border: 3px solid #0b0b0b;
  background: #fff;
  color: black;
  font-weight: 300; }
  .form__input:focus {
    border-color: #016dfd; }
.form__btn {
  background: #016dfd; }

.btn--default {
  background-color: #016dfd; }
.btn--success {
  background-color: #00aca7; }
.btn--warning {
  background-color: palette(grey, x-light); }

[class^="btn--"] {
  margin-bottom: 1.4285714286em; }
  @media (min-width: 1px) and (max-width: 768px) {
    [class^="btn--"] {
      width: 100%; } }
  @media (min-width: 769px) {
    [class^="btn--"] {
      width: auto;
      display: inline-block; }
      [class^="btn--"] + [class^="btn--"] {
        margin-left: 20px; } }

.navbar {
  position: relative; }
  @media (min-width: 769px) {
    .navbar {
      margin-right: 1.25em;
      margin-bottom: 0;
      display: inline-block;
      float: right;
      text-align: right; } }
  @media (min-width: 1100px) {
    .navbar {
      margin-right: 0; } }

.nav {
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 65px 0 0 0; }
  @media (min-width: 769px) {
    .nav {
      padding: 0 0 0 0; } }
  .nav__item a {
    color: #797e83; }

.menu {
  margin-top: 1.25em; }
  .menu__link {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3); }

.site-logo {
  background-image: url("../img/logo-small.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 30px;
  display: inline-block;
  margin: 20px 0 5px 15px;
  float: left;
  border: 0px solid #f00; }
  @media (min-width: 769px) {
    .site-logo {
      background-image: url("../img/logo.png");
      background-repeat: no-repeat;
      width: 350px;
      height: 60px;
      display: inline-block;
      margin: 10px 0 10px 10px; } }

.icn--nav-toggle {
  width: 25px;
  height: 17px;
  border-top: solid 3px #797e83;
  border-bottom: solid 3px #797e83;
  position: relative;
  float: right;
  margin: 1.75em; }
  .icn--nav-toggle:before {
    width: 25px;
    height: 3px;
    background: #999da1;
    top: 4px; }
  @media (min-width: 769px) {
    .icn--nav-toggle {
      margin: 2em; } }
.icn--close {
  background-image: url("../img/icn-close.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: 4%;
  top: 4%; }

@media (min-width: 1px) and (max-width: 768px) {
  .is-displayed-mobile {
    display: block; }
    .is-hidden-mobile {
      display: none; } }
@media (min-width: 769px) {
  .is-displayed-mobile {
    display: none; } }

@media (min-width: 1px) and (max-width: 768px) {
  .is-medium-plus {
    display: none; } }
@media (min-width: 769px) {
  .is-medium-plus {
    display: block; } }

@media (min-width: 1px) and (max-width: 768px) {
  .is-small-only {
    display: block; } }
@media (min-width: 769px) {
  .is-small-only {
    display: none; } }
@media (min-width: 1100px) {
  .is-small-only {
    display: none; } }

.is-large-only {
  text-align: center;
  display: none; }
  @media (min-width: 1100px) {
    .is-large-only {
      width: auto;
      display: inline-block;
      float: right; } }

@media (min-width: 1px) and (max-width: 768px) {
  .is-collapsed-mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0; } }

.theme__poly .grid__col--12 {
  background-color: #DEF4E5; }

.theme__poly .grid__col--8 {
  background-color: #DCE0F2; }

.theme__poly .grid__col--7 {
  background-color: #DCF0EF; }

.theme__poly .grid__col--6 {
  background-color: #FFE3DB; }

.theme__poly .grid__col--4 {
  background-color: #F8EDD0; }

.theme__poly .grid__col--5 {
  background-color: #EAEBEC; }

.theme__poly .grid__col--2 {
  background-color: #C5E2CE; }

.theme__poly .grid__col--3 {
  background-color: #D6EEF5; }
