.splash-b {
  text-align: left;
  padding-top: 100px;
  height: auto; }

.splash-c {
  text-align: left;
  padding-top: 100px;
  height: auto;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35); }

.splash-d {
  text-align: left;
  padding-top: 100px;
  height: auto;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35); }

.splash-e {
  text-align: left;
  padding-top: 100px;
  height: auto;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35); }
