// NEW CODE ---CHECK THIS IS DRY---
.splash {
  text-align: left;
  padding-top: 10px;
  height: auto;

   @include mq(medium) {
	 
  	padding-top: 100px;
 
    } 

 	
 }






.splash-home {
//  text-align: center;
  background: url(../img/header-01a.jpg) $white;
  padding: 30px 0;

  h1, h2 { 
  color: $white;
  }

 // 	height: 100%;
//	background-position: center center;
//	background-size: cover;
//	position: relative;

  @include bk-splash;

@include mq(medium) {
	  padding: 90px 0;
 
    } 
@include mq(large) {
	  padding: 170px 0;
 
    } 

 }

.splash-home {
 // 	text-align: left;
 
//  	@include bk-splash;
	padding-top: 0px;
  	height: auto;
   @include mq(medium) {
//	 padding-top: 0px;
	 }
 }
