//@mixin panel-top {
//padding-top: 80px;
//  height: auto;
//
//   @include mq(medium) {
//	 padding-top: 120px;
//    } 
//}



//header {
//	background-image: url(../img/[[[INSERTIMAGE]]].jpg); 
//}



//.slider { position: relative; overflow: auto; }
//    .slider li { list-style: none; }
//       .slider ul li { float: left; }



//.valign-mid {
//text-align: center;
//margin-top: 3%;
//}




//.panel-secondary {
//		
//		
////		background: $color-secondary;
////		background: palette(grey, x-light);
//		padding {
//			top: 20px;
//			left: 5px;
//			right: 5px; 
//			bottom: 20px;
//		}
//		margin: 0px 0 0px 0; 
//		@extend %panel-padding;
//		color: $white;		
//		max-width: 100%;
//	}




	// NEW CODE ---CHECK THIS IS DRY---
//.panel-blue {
//		
//		@extend .panel;
//		background: $color-primary;
//		padding: 15px;
//		margin: 5px 0 10px 0; 
//		@extend %panel-padding;
//		color: $white;
//	}
	// NEW CODE ---CHECK THIS IS DRY---




//.splash-a {
//
//	 text-align: left;
//	 background: url(../img/bk02-a.jpg) $white;
//	 padding-top: 100px;
//	 height: auto;
//
//	 @include bk-splash;
//	text-shadow: 1px 1px 5px rgba(0,0,0,0.35);
// }







.splash-b {
 	text-align: left;
//	 background: url(../img/bk02-b.jpg) $white;
	 padding-top: 100px;
	 height: auto;
  
//  @include bk-splash;


//	text-shadow: 1px 1px 5px rgba(0,0,0,0.35);
 }







.splash-c {
  	text-align: left;
//	 background: url(../img/bk02-c.jpg) $white;
	 padding-top: 100px;
	 height: auto;
  
 // @include bk-splash;

	
	text-shadow: 1px 1px 5px rgba(0,0,0,0.35);

 
 }







.splash-d {
  	text-align: left;
//	 background: url(../img/bk02-d.jpg) $white;
	 padding-top: 100px;
	 height: auto;
  
//  @include bk-splash;


	text-shadow: 1px 1px 5px rgba(0,0,0,0.35);
 
 }







.splash-e {
  	text-align: left;
//	 background: url(../img/bk02-e.jpg) $white;
	 padding-top: 100px;
	 height: auto;
  
//  @include bk-splash;


	text-shadow: 1px 1px 5px rgba(0,0,0,0.35);
 
 }




//#pane01 {
//	background-color: $color-01;
//	background: url(../img/bk-01.jpg);
//	  @include bk-splash;
//		@include panel-top;
//	 height: auto;
//}
//#pane02 {
//	background-color: $color-02;
// @include panel-top;
//}
//#pane03 {
//	background-color: $color-03;
// @include panel-top;
//}
//#pane04 {
//	background-color: $color-04;
// @include panel-top;
//}

//#pane05 {
//	background-color: $color-05;
// @include panel-top;
//}

//#pane06 {
//	background-color: $color-06;
// @include panel-top;
//}



//.valign {
//	position: absolute;
//	top:50%; 
//    height:50%; 
//    margin-top:-25%;
//}



// ---CHECK HEADER IS DRY---
// NEW CODE ---CHECK THIS IS DRY---



//section#bk01 {
//	background-image: url(../img/bk01.png); 
//}

//section#bk02 {

//	background-image: url(../img/bk02.png); 
//}
// ---CHECK HEADER IS DRY---
// NEW CODE ---CHECK THIS IS DRY---

// NEW CODE ---CHECK THIS IS DRY---
//.panel-pic {
//  text-align: center;
 // color: $white;
  
 // background: url(../img/bk08.jpg) $white;
//padding: 00px;
 //position: relative;
 //height: 100%; 
//  @include bk-splash;
// @include mq(medium) {
//	height: 100%;
// position: relative;
//    } 
//  }



// NEW CODE ---CHECK THIS IS DRY---
//
//.home-panel-02 {
//width: 100%;	
//background-color: palette(grey, xx-light);
//}
//
// NEW CODE ---CHECK THIS IS DRY---






//.link-icons {
//		@extend .footer-links;
//		text-align: center;
////border: 1px solid #f00;
//		
//	}




//.imagelist li{
//            padding:0;
//           margin:0;
//}



//.panel-spacing {
//	
//		margin: em(20px) 0;
//		@include mq(medium) {
//			margin: em(10px) 0;
//		}
//
//}


//.adspace {
//	//@extend .grid-wide;
//
//	text-align: center;
//	padding: 10px 0;
//	background-color: palette(grey, xx-light);
//	margin: em(0px); 
//	max-width: 100%;
//
//}

//.adspace-02 {
//	//@extend .grid-wide;
//
//	text-align: center;
//	padding: 10px 0;
//	background-color: palette(grey, xx-light);
//	margin: 20px 0 0 0; 
//	max-width: 100%;
//
//}



///.full {
//
//	height: 100%;
//	background-position: center center;
//	background-size: cover;
//	background-attachment: fixed;
//	position: relative;
//}




//.centered-spacing {
//	display: block;
//	margin-left: auto;
//	margin-right: auto;
//}
