// ==========================================================================
// Placeholders
// ==========================================================================



%link-padding {
		padding-top: em(15px);
		padding-bottom: em(0px);
		display: inline-block;
		padding-left: em(15px);
		}



%palette-spacing { 
 padding: em(25px);
 margin: em(10px); 
 }