// ==========================================================================
// Grid [[[NEAT EXPERIMENT]]]
// ==========================================================================

.grid-wide {
	@extend %clearfix;
	@extend .centered;
	width: 100%;
}


.container {
	@include outer-container();

}


.cols {
	@include span-columns(12);
	@include pad(0px 10px default);

	@include mq(medium) {
	 
  		@include span-columns(10);
  		@include pad(0px 0px);
		
		@include shift (1 of 12);
    }
	@include mq(large) {
	 
  		@include span-columns(12);
  		@include pad(0px 0px);
		
		@include shift (0 of 12);
    }
}




.cols-half {
	@include span-columns(12);
	@include pad(0px 10px default);
	@include mq(medium) {
  		@include span-columns(6);
  		@include pad(0px 0px default);
		
    }
    &-center {
    @include span-columns(6);
    text-align: center;
    @include pad(0px 10px );
    }

    &-submenu-1 {	

  		@include span-columns(5);
  		@include pad(0px 10px default);


	@include mq(medium) {
  		@include span-columns(5);
		@include shift (1 of 12);
  		@include pad(0px 0px);

    }
	@include mq(large) {
  		@include span-columns(4);
		@include shift (0 of 12);
    }





	}

	
    &-submenu-2 {	
  		@include span-columns(7);
  		@include pad(0px 10px default);

		@include mq(medium) {
	  		@include span-columns(5);
	  		@include pad(0px 0px);
	    }

		@include mq(large) {
	  		@include span-columns(8);
			@include shift (0 of 12);
	    }
	}



}








.cols-ads {
	text-align: center;
	@include span-columns(12);
	@include pad(0px 0px default);
}





.cols-splash {
	@include span-columns(12);
	@include pad(0px 40px default);
	@include mq(medium) {
  		@include pad(0px 15px default);
    } 

	@include mq(large) {
  		@include pad(0px 0px default);
    } 
}



.cols-footer-01 {
	@include span-columns(12);
	@include pad(0px 10px);
	@include mq(medium) {
  		@include span-columns(3);

		@include shift (1 of 12);

    }

	@include mq(large) {
 		@include span-columns(4);
		@include shift (0 of 12);

    }


}



.cols-footer-02 {
	@include span-columns(12);
	@include pad(0px 10px);

	@include mq(medium) {
  		@include span-columns(8);
    }

}

