// ======================================================================
// Panels
// 
// ======================================================================





.sharing {
    @include margin-vertical(20px, 10px);
	//margin-bottom: em(40px);
	float: right;
	@extend .icon-link;

	//a {
	//	border-bottom: none;
	//}
	@include mq(medium) {
		@include margin-vertical(30px, 30px);
	}

	&-header {
		color: palette(grey, dark);
	}

	&-item {
		display: inline;
		vertical-align: middle;
	}
}








.splash {
 	padding-top: em(10px);
  	@include mq(medium) {
  	padding-top: em(100px);
    } 

    &-home {
    	background: url(../img/header-01a-mobile.jpg) $color-light;
      	padding {
      		bottom: em(50px);
    	}

    	h1, h2 { 
    	    color: $white;
    	}

		@include bk-splash;
		@include mq(medium) {
			min-height:200px;
  			height:auto !important;
  			height:200px;
			background: url(../img/header-01a.jpg) $color-light;
			@include bk-splash;
        	padding-bottom: em(90px);
		} 

		@include mq(large) {
			min-height:250px;
  			height:auto !important;
  			height:250px;
			padding-bottom: em(170px);
		}

		@include mq(exlarge) {
			min-height:400px;
  			height:auto !important;
  			height:400px;
			background: url(../img/header-01a-xxlarge.jpg);
			padding-bottom: em(250px);
			@include bk-splash;
		}	 

    }

	&-landing {
        @include margin-vertical(25px, 105px);
        @include mq(medium) {
            @include margin-vertical(120px, 0px);
        } 
    }
 

 }








.footer {
	&-nav {
		float:none;
		@include mq(medium) {
			float:right;
		}
	}

	&-links {
		padding-top: em(20px);
		padding-right: em(10px);
		padding-bottom: em(20px);
		display: inline-block;
		text-align: left;

		@include mq(medium) {
				padding-top: em(20px);
				padding-right: em(30px);
		}
	}
}






.sub {
	&-nav {
		float:right;
	}
	&-links {
		@extend %link-padding;
		&-active {
			@extend %link-padding;
			a {
				color: $color-primary;
			}
		}

	}

}







.adspace {
	padding {
		top: em(50px);
		bottom: em(50px);
	};	

	margin: auto;
	max-width: 100%;
}


.ad-is-collapsed-mobile {
	display: none;
	@include mq(medium) {
		display: inline;
	}
}


.ad-is-displayed-mobile {
	display: inline;
	@include mq(medium) {
		display: none;
	}
	
}





	
.boxout {
		
	background-color: $color-boxout;
	padding: em(25px);
	margin: em(3px); 
	margin-bottom: em(20px); 
	font-weight: $font-weight--medium;
	font-size: em(14px);
	h4 {
		font-size: em(18px);
	}
	@include mq(medium) {
		font-size: em(18px);
		h4 {
			font-size: em(20px);
		}
	}	    		
}



///--Styleguide colour palette--///

.color-primary {
	@include palette-color($fountain-blue, $white);
	@extend %palette-spacing;
}

.color-dark {
	@include palette-color($color-dark, $white);
	@extend %palette-spacing;
}

.color-secondary {
	@include palette-color($color-secondary, $black);
	@extend %palette-spacing;
}

.color-06 {
	@include palette-color($color-06, $black);
	@extend %palette-spacing;
}

.color-07 {
	@include palette-color($color-07, $black);
	@extend %palette-spacing;
}

.color-08 {
	@include palette-color($color-08, $black);
	@extend %palette-spacing;
}



///--Styleguide colour palette--///


