// =======================================================================
// Panels
// 
//=========================================================================









.sharing {
	margin-bottom: em(40px);
	float: right;
	a {
		border-bottom: none;
	}

	&-header {
		color: palette(grey, dark);
	}

	&-item {
		display: inline;
		vertical-align: middle;
	}
}














.splash {
 	padding-top: em(10px);
  	@include mq(medium) {
  	padding-top: em(100px);
    } 

    &-home {
    	background: url(../img/header-01a-mobile.jpg) $white;
      	padding {
      	bottom: em(50px);
    }

    h1, h2 { 
        color: $white;
    }

		@include bk-splash;
		@include mq(medium) {
			background: url(../img/header-01a.jpg) $white;
			@include bk-splash;
        	padding-bottom: em(90px);
		} 

		@include mq(large) {
			padding-bottom: em(170px);
		}

		@include mq(exlarge) {
			background: url(../img/header-01a-xxlarge.jpg);
			padding-bottom: em(250px);
			@include bk-splash;
		}	 

    }

	&-landing {
        @include margin-vertical(25px, 105px);
        @include mq(medium) {
            @include margin-vertical(120px, 0px);
        } 
    }
 

 }

















.list-panel {
	font-size: $base__font-size - 2;
	padding: 0 7px;
}

p.list-panel:last-child {
	margin-bottom: 5px;
}












// ---Currently redundant, but retained in HTML---// 
//--in case headers need specific styling.---//

//.home-panel {	
//	padding: 0px 0;
//}

// ---Currently redundant, but retained in HTML---// 
//--in case headers need specific styling.---//





.footer {
	&-nav {
		float:none;
		@include mq(medium) {
			float:right;
		}
	}

	&-links {
		padding-top: em(20px);
		padding-right: em(10px);
		padding-bottom: em(20px);
		display: inline-block;
		text-align: left;

		@include mq(medium) {
				padding-top: em(20px);
				padding-right: em(30px);
		}
	}
}



.sub {
	&-nav {
		float:right;
	}
	&-links {
		@extend %link-padding;
		&-active {
			@extend %link-padding;
			a {
				color: $color-primary;
			}
		}

	}

}



.adspace {
	padding {
		top: em(50px);
		bottom: em(50px);
	};	

	margin: auto;
	max-width: 100%;
}


.ad-is-collapsed-mobile {
	display: none;
	@include mq(medium) {
		display: inline;
	}
}


.ad-is-displayed-mobile {
	display: inline;
	@include mq(medium) {
		display: none;
	}
	
}


	
.boxout {
		
		background-color: #f0f0f0;
		padding: em(25px);
		margin: em(3px); 
		margin-bottom: em(20px); 
		font-weight: $font-weight--medium;
		font-size: em(14px);
		h4 {
			font-size: em(18px);
		}
		@include mq(medium) {
			font-size: em(18px);
			h4 {
				font-size: em(20px);
			}
		}	    		
}



.listpic {
	float: left;

		@include mq(medium) {
			float: none;
			margin: auto;
			width:100%
			}

}
.listtext{
	float: right;

		@include mq(medium) {
			float: none;
			margin: auto;
			width:100%
			}

}
