// ======================================================================
// Base Styles
// ======================================================================



* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}




html, body {
	height: 100%;
}







body {
	color: palette(grey, xx-dark);
  	font: {
  		size: $base__font-size;
  		family: $font-family--primary;
  	}
  	line-height: ($base__line/$base__font-size);
}





header {
		position: relative;
		background: $color-menu-fb; /* Fallback */
		background-color: $color-menu;
		z-index: 0;
		width: 100%;
		@include shadow(0, 2px, 3px, $color-shadow);

		@include mq(medium) {
			position: fixed;	
			z-index: 1;
		}
}





	









// Text

h1 {
	@extend %hdln-prim;


}

h2 {
	@extend %hdln-sec;

}



h3 {
	@extend %hdln-tri;
	@include text-colors();
	


}







h4 {
	@extend %hdln-quad;
}




h5 {
	@include margin-vertical(12px, 5px);
	@include font-s-w(32px, $font-weight--medium);

	letter-spacing: $letter-space;
  	line-height: em(36px, 32px);
	@include mq(medium) {
		margin-top: em(4px);
	}
}


h6 {
	@include font-s-w(18px, $font-weight--medium);
	letter-spacing: $letter-space;
	@include margin-vertical(30px, 0px);
}

 



a {
	color: palette(grey, dark); 
	text-decoration: none;
	border-bottom: 1px $color-dark dotted;
	font-weight: $font-weight--bold;
	&:hover {
		color: $color-dark;
		border-bottom: none;
	
	}

}





p {

	@extend %margin-vertical-10x10;
	@include font-s-w(18px, $font-weight--medium);

	line-height: (28px/16px);
	 @include mq(medium) {
		@include font-s-w(22px, $font-weight--light);
		line-height: (33px/22px);
	 }
	 @include mq(large) {
		@include font-s-w(26px, $font-weight--light);
		line-height: (39px/26px);
	 }   
}





blockquote {
	@include mq(medium) {
		margin: em(32px, 24px) 0;
		padding: 0 0 0 5%;
		border-left: em(8px, 24px) solid palette(grey, xx-light); 
		font-size: em(24px);
	}
	@include font-s-w(20px, $font-weight--light);
	font-style : italic;
	
}










// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}





// NEW CODE ---CHECK THIS IS DRY---
hr.list-divider {
	padding: em(1px) 0 0 0;
	background: palette(grey, x-light);
	border: none;
	@include margin-vertical(30px, 20px);
	}








// Images

img {

  //margin-bottom: em(24px);
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


.img-mouseover {
	@extend %transglobal;

	&:hover {
		@include opacity(0.3);
	}
}



.descretionary-margin {
	@include margin-vertical(0px, 15px);
}






// Form elements

input, 
textarea {
	//display: block;
	padding: em(15px);
	width: 100%; 
	outline: 0;
	border: 0;

	@extend %transglobal;


}

input:focus, 
textarea:focus {

	@extend %transglobal;

}

// Button

button {
	outline: 0;
}




// Footer

footer {
    background: palette(grey, xx-light);
	padding-top: em(20px);
	.div {
		@include margin-vertical(20px, 20px);
	}
}




