// ==========================================================================
// Base Styles
// ==========================================================================



* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


// ---CHECK HEADER IS DRY---
// NEW CODE ---CHECK THIS IS DRY---

html, body {
	height: 100%;
}

// ---CHECK HEADER IS DRY---
// NEW CODE ---CHECK THIS IS DRY---



body {
	color: palette(grey, xx-dark);

  	font: {
  		size: $base__font-size;
  		family: $font-family--primary;
  	}

  	line-height: ($base__line/$base__font-size);
}


// ---CHECK HEADER IS DRY---
// NEW CODE ---CHECK THIS IS DRY---
header {

		position: relative;
		background-color: rgba(255,255,255,0.94);
		z-index: 0;
		width: 100%;
		box-shadow: 0px 2px 3px $color-shadow;

		@include mq(medium) {

			position: fixed;	
			z-index: 1;
			background: rgb(245, 245, 245); /* Fallback */
			background-color: rgba(255,255,255,0.90);

		}
}





	






// NEW CODE ---CHECK THIS IS DRY---

//.full {
//	height: 100%;
//	background: {
//		position: center center;
//		size: cover;
//		attachment: fixed;
//	}
//
//	position: relative;
//}


// NEW CODE ---CHECK THIS IS DRY---









// Text

h1 {
	@extend %hdln-prim;


}

h2 {
	@extend %hdln-sec;

}



h3 {
	@extend %hdln-tri;
	@include text-colors();
	
	&.article-special01 {	
		text-align: center;
		@include margin-vertical(-3px, -3px);
		@include text-colors($fountain-blue);
	}

	&.author {	
		@include margin-vertical(5px, 0px);
		
	}
}




h4 {
	@extend %hdln-quad;
}




h5 {
	@include margin-vertical(12px, 5px);
	@include font-s-w(32px, $font-weight--medium);

	letter-spacing: $letter-space;
  	line-height: em(36px, 32px);
	@include mq(medium) {
		margin-top: em(4px);
	}
}


h6 {
	@include font-s-w(18px, $font-weight--medium);
	letter-spacing: $letter-space;

	@include mq(medium) {
		margin-top: em(4px);
	}
}

 



a {
	color: palette(grey, dark); 
	text-decoration: none;
	border-bottom: 1px $color-dark dotted;
	font-weight: $font-weight--bold;
	&:hover {
	color: $color-dark;
	//text-decoration: underline;
	border-bottom: none;
	
	}


}





p {


	//@include margin-vertical(10px, 10px);
	@extend %margin-vertical-10x10;
	@include font-s-w(18px, $font-weight--medium);

	line-height: (28px/16px);
	 @include mq(medium) {
		@include font-s-w(22px, $font-weight--light);
		line-height: (33px/22px);
	 }
	 @include mq(large) {
		@include font-s-w(26px, $font-weight--light);
		line-height: (39px/26px);
	 }
	 &.smallprint {
	 	@include font-s-w(10px, $font-weight--light);
	 }  

	 &.summary {
	 	@include margin-vertical(0px, 40px);
	 } 

	 &.citation {
	 	@include font-s-w(15px, $font-weight--light);
	 }   
}

blockquote {
	@include mq(medium) {
		margin: em(32px, 24px) 0;
		padding: 0 0 0 5%;
		border-left: em(8px, 24px) solid palette(grey, xx-light); 
		font-size: em(24px);
	}
	@include font-s-w(20px, $font-weight--light);
	font-style : italic;
	
}



// NEW CODE ---CHECK THIS IS DRY---


%byline {
	@include font-s-w(14px, $font-weight--medium);
	color: $grey;
	}



.byline {
	@extend %byline;
	@extend %margin-vertical-10x10;

	&-02 {
		@extend %byline;
		@include margin-vertical(10px, 15px);
	}

}













// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}





// NEW CODE ---CHECK THIS IS DRY---
hr.list-divider {
	padding: em(1px) 0 0 0;
	background: palette(grey, x-light);
	border: none;
	@include margin-vertical(30px, 20px);
	}



//hr.list-divider {
//	@include margin-vertical(15px, 15px);
//	@include mq(medium) {
//		@include margin-vertical(30px, 30px);
//	}
//	
//}
// NEW CODE ---CHECK THIS IS DRY---






// Images

img {

  //margin-bottom: em(24px);
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


.img-mouseover:hover {
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}


.search-button {
	float: left;
}

.search-bar {
	float: right;
}

.descretionary-margin {
	@include margin-vertical(0px, 15px);
}






// Form elements

input, 
textarea {
	display: block;
	padding: em(15px);
	width: 100%; 
	outline: 0;
	border: 0;
	transition: $trns_duration;

}

input:focus, 
textarea:focus {
	transition: $trns_duration;

}

// Button

button {
	outline: 0;
}




// Footer

footer {
    background: palette(grey, xx-light);
	padding-top: em(20px);
	//height: auto;
	//@include bk-splash;
	//font-size: $base__font-size - 3;
	.div {
		@include margin-vertical(20px, 20px);
	}
}




