// ==========================================================================
// Placeholders
// ==========================================================================

// Nav Items

%nav-item-horz {
  @include mq(medium) {
    display: inline-block;
    //margin-right: em(6px, 5px);
//padding: 0px 7px 0px 7px ;


  }


}
%nav-item-link {
  font-weight: $font-weight--bold;
  text-align: center;   
  font-size: em(14px);
  display: block;
  //padding: em(10px, 0px);
  padding: 5px 0 0 0 ;

    line-height: 80px;
 padding: 0px 10px 0px 10px ;
  border-bottom: 4px solid transparent;
  @include mq(small) {
    line-height: 20px;
    border-bottom-color: palette(grey, xx-light);
    font-weight: $font-weight--bold;
    padding-top: em(14px, 18px);
    padding-bottom: em(14px, 18px);
    font-size: em(17px);

  }




  @include mq(large) {
  font-size: em(18px);
 // padding: em(8px, 20px);
  //padding: 0 10px 0 10px;
   padding: 0px 15px 0px 15px ;
  }

}













// --- ACTIVE HOVER STATE MAIN MENU + NAV---
%nav-item-on {
  color: palette(black);
  border-color: $color-primary;
  text-decoration: none;
   background-color: rgba(230,230,230,0.50);



}
// --- ACTIVE HOVER STATE MAIN MENU + NAV---






// --- ACTIVE CURRENT STATE MAIN MENU + NAV---
%nav-item-on-current {
  @extend %nav-item-on;
  background-color: transparent;
  border-bottom-color: $color-primary;
  
  
 
}
// --- ACTIVE CURRENT  STATE MAIN MENU + NAV---









// Headlines

%hdln-prim {

  letter-spacing: normal;
  font-weight: $font-weight--ultra-bold;
  font-family: $font-family--primary;
  font-size: em(20px);
  line-height: (30px/20px);
  margin-top: em(4px);
  margin-bottom: em(4px);
 @include mq(medium) {
  font-size: em(24px);
  line-height: (36px/24px);
 }

}







%hdln-sec {


  font-size: em(42px);
  font-weight: $font-weight--light;
  margin: 0;
  line-height: (46px/42px);
  @include mq(medium) {
    font-size: em(72px);
    font-weight: $font-weight--thin
  }


}




// NEW CODE ---CHECK THIS IS DRY---
%hdln-ter {


// NEW CODE ---CHECK THIS IS DRY---
  font-size: em(18px);
  font-weight: $font-weight--medium;
  margin-top: em(4px);
  margin-bottom: em(1px);
  line-height: em(33px, 30px);
// NEW CODE ---CHECK THIS IS DRY---


//  color: $white;
  //letter-spacing: $letter-space;
//  font-weight: $font-weight--medium;
//  font-size: em(20px);
//  font-family: $font-family--primary;
//  margin-top: 5px; 

//    @include mq(medium) {
//    font-size: em(24px);
//    font-weight: $font-weight--light;
//  }

}
// NEW CODE ---CHECK THIS IS DRY---












// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $color-btntxt;
  text-transform: uppercase;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  display: block;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

// Menu link

%menu-link {
  display: block;
  padding-top: em(16px);
  padding-bottom: em(16px);
  color: $white;
  text-align: center;
  text-shadow: 0 1px $color-shadow;
  font-size: em(18px);
}

// Icons

%icn--ui {
	line-height: 0;
	cursor: pointer;
}