// ==========================================================================
// Placeholders
// ==========================================================================

// Nav Items

%nav-item-horz {
  @include mq(medium) {
    display: inline-block;
  }

}



%nav-item-link {
  @include font-s-w(14px, $font-weight--bold);
  text-align: center;   
  display: block;
  padding: 5px 0 0 0 ;

  line-height: 80px;
  padding: 0px 10px 0px 10px ;
  border-bottom: 4px solid transparent;
  
  @include mq(small) {
 
    @include font-s-w(17px, $font-weight--bold);
    line-height: 20px;
    border-bottom-color: palette(grey, xx-light);
    padding-top: em(14px, 18px);
    padding-bottom: em(14px, 18px);

  }


  @include mq(large) {
  font-size: em(18px);
   padding: 0 15px;
  }

}





%nav-item-on {
  color: palette(black);
  border-color: $color-primary;
  text-decoration: none;
   background: #e6e6e6; /* Fallback */
   background-color: rgba(230,230,230,0.50);
}


 








// Headlines

%hdln-prim {

  @include font-s-w(24px, $font-weight--ultra-bold);
  @include margin-vertical(4px, 4px);

  font-family: $font-family--primary;
  letter-spacing: normal;
  line-height: (36px/24px);
 
 
 @include mq(medium) {
  font-size: em(28px);
  line-height: (35px/28px);
 }

}





%hdln-sec {

  @include font-s-w(35px, $font-weight--medium);

  margin: 0;
  line-height: (46px/42px);

  @include mq(medium) {
    @include font-s-w(72px, $font-weight--thin);
  }

}



%hdln-tri {
  @include margin-vertical(15px, 5px);
  @include font-s-w(20px, $font-weight--bold);

  //color: $color-dark;

  @include mq(medium) {
    font: {
      size: em(26px);
    }
  }
  
}







%hdln-quad {
  @include margin-vertical(0px, 5px);
  @include font-s-w(18px, $font-weight--bold);
  
  color: $color-dark;

  @include mq(medium) {
    font {
      size: em(24px);
    }
    
  } 

}







//%hdln-ter {
//  @include font-s-w(18px, $font-weight--medium);
//  @include margin-vertical(4px, 1px);
// line-height: em(33px, 30px);
//}





// Buttons

%btn {
  @include font-s-w(14px, $font-weight--medium);

  padding: 15px 30px;
  border: 0;
  border-radius : $br--default;
  color: $color-btntxt;
  text-transform: uppercase;

  @include transition(opacity);

  display: block;
  &:hover {
    @include opacity(0.65);
  }
  &:active {
    @include opacity(0.99);

  }
}




// Menu link

%menu-link {
  display: block;
  padding-top: em(16px);
  padding-bottom: em(16px);
  color: $white;
  text-align: center;
  text-shadow: 0 1px $color-shadow;
  font-size: em(18px);
}




// Icons

%icn--ui {
	line-height: 0;
	cursor: pointer;
}




// Global Transition Webkit Fallback

%transglobal {
         -webkit-transition:  $trns-duration ;
            -moz-transition:  $trns-duration ;
              -o-transition:  $trns-duration ;
                 transition:  $trns-duration ;
}
  



// Byline

%byline {
  @include font-s-w(14px, $font-weight--medium);
  color: $grey;
  }

