// ==========================================================================
// Form Elements
// ==========================================================================

.form {
	@include e(label) {
		@include m(hidden) {
			@extend .srt;
		}
		display: block;
		margin-bottom: em(10px);
	}

	@include e(input) {
		font-size : em(18px);
		margin-bottom: em(20px, 18px);
		border: 3px solid $color-dark;
//		border-bottom: 6px solid palette(grey, x-light);
border-radius: none;
//		background: palette(grey, xx-light);
		background: $color-light;
		color: palette(black, dark);
		font-weight: $font-weight--light;

		&:focus {	
			border-color: $color-focus;
			background: palette(fountain-blue, xx-light);
			//color: $color-dark; 

		}
	}

	@include e(btn) {
		@extend %btn;
		background: $color-primary;
	}
}



//.search {
//	background: $color-light url(../img/icon-search.png) left no-repeat;
//   padding-left: 50px;
//} 