// ======================================================================
// Form Elements
// ======================================================================

.form {
	@include e(label) {
		@include m(hidden) {
			@extend .srt;
		}
		display: block;
		margin-bottom: em(10px);
	}

	@include e(input) {
		font-size : em(18px);
		margin-bottom: em(20px, 18px);
		border: 3px solid $color-dark;
//		border-bottom: 6px solid palette(grey, x-light);
border-radius: none;
//		background: palette(grey, xx-light);
		background: $color-light;
		color: palette(black, dark);
		font-weight: $font-weight--light;





		&:focus {	
			border-color: $color-focus;
			background: palette(fountain-blue, xx-light);
			//color: $color-dark; 

		}
	}


	@include e(search) {
		display: inline-block;
		font-size: em(18px);
		margin-bottom: em(20px, 18px);
		border: 3px solid $color-dark;
border-radius: none;
		background: $color-light;
		color: palette(black, dark);
		font-weight: $font-weight--light;






		&:focus {	
			border-color: $color-focus;
			background: palette(fountain-blue, xx-light);
			//color: $color-dark; 

		}
	}

	@include e(btn) {
		@extend %btn;
		background: $color-primary;
	}
}





.search {

   display:inline-block;
   margin-right: em(5px);


	&-container {
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	&-bar {
		float: right;
	}


	&-button {
		float: left;
		margin: em(0px);

	}




	&-01 {
		float: none; 
	    width: auto;
	    overflow: hidden;
	}


	&-02 {
		@extend .search-bar;
		width: em(60px);
	}




}




