 // ==========================================================================
// Icons
// ==========================================================================

// Logo  
 
//.site-logo {
//	@include img-replace("logo.svg", 115px, 45px, inline-block);


// NEW CODE ---REPLACE WITH SVG---
.site-logo {

	@include img-replace("logo-small.png", 200px, 30px, inline-block);
	margin: 20px 0 5px 15px;

	@include mq(medium) {
		@include img-replace("logo.png", 350px, 60px, inline-block); margin: 10px 0 10px 10px;
		}
	float: left;
	border: 0;
}





// UI

.icn {

	// Nav Toggle
	@include m(nav-toggle) {
		@extend %icn--ui;
		width: 25px;
		height: 17px;
		border-top: solid 3px palette(grey);
		border-bottom: solid 3px palette(grey);
		position: relative;
		float: right;
		margin: em(35px, 20px);

		@include p-el(before, 25px, 3px) {
			background: palette(grey);
			top: 4px;
		}

		@include mq(medium) {
		margin: em(40px, 20px);
		}
	}  


}