 // ==========================================================================
// Icons
// ==========================================================================

// Logo  
   
.site-logo {
	@include img-replace-logo("logo-small.png"); /* Fallback */
	background-image: none,url("../img/logo-small.svg");
	//@include img-replace-logo("logo-small.svg");
	margin: 20px 0 5px 15px;
  	@include w-h-size(115px, 45px);
  	@extend %logo-base;


	@include mq(medium) {
		@include img-replace-logo("logo.png"); /* Fallback */
		background-image: none,url("../img/logo.svg");
		//@include img-replace-logo("logo.svg"); 
		margin: 10px 0 10px 10px;
  		@include w-h-size(350px, 60px);

		}




	&-footer {
		@include img-replace-logo("logo-small.png"); /* Fallback */
		background-image: none,url("../img/logo-small.svg");
		//@include img-replace-logo("logo-small.svg");
		@extend %logo-base;
		@include w-h-size(115px, 45px);
		@extend .img--summary;

	}



}






// UI

.icn {

	// Nav Toggle
	@include m(nav-toggle) {
		@extend %icn--ui;
		width: 25px;
		height: 17px;
		border-top: solid 3px palette(grey);
		border-bottom: solid 3px palette(grey);
		position: relative;
		float: right;
		margin: em(35px, 20px);

		@include p-el(before, 25px, 3px) {
			background: palette(grey);
			top: 4px;
		}

		@include mq(medium) {
		margin: em(40px, 20px);
		}
	}  


}