// =========================================================================
// Images
// ==========================================================================

.img {
	@include m(wrap) {
		border: 1px solid palette(grey, x-light);
		padding: em(12px);
	}

	@include m(article) {
		@include margin-vertical(5px, 5px);

		@include mq(medium) {
			@include margin-vertical(20px, 30px);
			
			width: 100%;

		}
		
	}
	@include m(summary) {
		@include margin-vertical(10px, 0px);

		@include mq(medium) {
			@include margin-vertical(10px, 10px);

		
		}
	}
	@include m(header) {
			@include margin-vertical(5px, 5px);

		@include mq(medium) {
			@include margin-vertical(10px, 10px);

		}
	}

	@include m(profilepic) {
			@include margin-vertical(15px, 20px);
			text-align: center;

		@include mq(medium) {
			@include margin-vertical(20px, 40px);

		}
	}
}



///REMOVE LINK UNDERLINE FROM IMAGE BASED LINKS///
.icon-link {
	a {
		border-bottom: none;
	}
}	






