// ==========================================================================
// Navbar
// ==========================================================================

.navbar {	
	position: relative;
	@include mq(medium) { 
		margin-right: em(20px);
		margin-bottom: 0;
		display: inline-block;
		float: right;
		text-align: right;
	}

	@include mq(large) { 
		margin-right: 0;
	}


}

