// ==========================================================================
// Nav
// ==========================================================================

// No fancy nesting here for better readability

.nav {
	@include margin-vertical(0px, 0px);

// NEW CODE ---CHECK THIS IS DRY---		
	padding: 65px 0 0 0;
	@include mq(medium) { 
		padding: 0 0 0 0;
	}
// NEW CODE ---CHECK THIS IS DRY---



	@include e(item) {
		@extend %nav-item-horz;
		@include m(current) {
			@extend %nav-item-horz;
			a {
				@extend %nav-item-link;
				@extend %nav-item-on-current;
			}
		}
		a {
			@extend %nav-item-link;
			color: palette(grey);
			&:hover {
				@extend %nav-item-on;
			}
		}
	}

	@include e(sub) {
		display: inline-block;
		//@extend %nav-item-horz;
		//@include m(current) {
			//@extend %nav-item-horz;
		//	a {
		//		@extend %nav-item-link;
		//		@extend %nav-item-on-current;
		//	}
		//}
		a {
			@extend %nav-item-link;
			color: palette(grey);
			&:hover {
				@extend %nav-item-on;
			}
		}
	}


}